.Title{
    background-color: lightblue;
    padding:8px;
    margin: 8px;
    border: 8px solid black;
}

.links{
    background-color: lightblue;
    padding: 8px;
    border: 8px solid black;
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.single{
    padding:8px;
}


.Fried{
    color:brown;
    font-family: "Georgia",sans-serif;
}

.topic1{
    color:blue;
    font-size: 35px;
    font-weight: 700px;;
    font-family: 'Courier New', Courier, monospace;
}

.ulist{
    background-color: yellow;
    color: purple;
}

.olist{
    background-color: aqua;
    font-family: "Papyrus", fantasy;
}

.pdglist{
    background-color:darkkhaki;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#steps,
#ingredients,
#ingredients2,
#steps2{
    text-align: center;
}

#ingredients2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(124, 142, 175);
}

#steps2{
    font-family:monospace;
    background-color:blueviolet;
}

#img1{
    width:100px;
    height:auto;
}

.img{
    width:200px;
    height:auto;
}

.listbb{
    background-color: rgba(255,0,0,0.3);
    font-weight: 900;
}